.modal__item__container {
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
}

.item__img {
  width: 8.8rem;
  height: 8.8rem;

  border-radius: 1.2rem;
}

.btn__container {
  min-width: 16rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.txt {
  min-width: 40%;
  padding-left: 1.6rem;
  color: var(--white_placeholder);
}

.txt__album {
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
