:root {
  /* COLORS */
  --white: #fff;
  --black: #000;
  --orange: #d9785b;
  --background-black: #292827;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: 1px solid #cd8492; */
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.6rem;
}
