.wrapper {
  display: flex;
}

.presentation {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 10rem;
  width: 50%;
  height: 100vh;
  background-image: radial-gradient(
    circle at center left,
    #e4ba5a,
    #e4ba5a 220px,
    #da8b4d 220px,
    #da8b4d 480px,
    #d1795c 480px,
    #d1795c 700px,
    #cd8492 700px,
    #cd8492 100%
  );
}

.presentation:before {
  position: absolute;
  left: -220px;
  content: url(/src/static/r1.svg);
  animation: rotating 10s linear infinite;
}

.presentation:after {
  position: absolute;
  left: -480px;
  content: url(/src/static/r2.svg);
  animation: rotating 10s linear infinite;
}

.presentation__header {
  font-family: 'Bebas Neue', sans-serif;
  color: var(--background-black);
  font-size: 9.4rem;
  line-height: 1;
  z-index: 2;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100vh;
  background-color: var(--background-black);
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  z-index: 1;
}

.logo {
  margin-top: 6.4rem;
}

.container__form {
  width: 100%;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1100px) {

  .presentation {
    display: none;
  }
  .main__container {
    width: 100%;
  }
}
