.container__404 {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.container__404 a {
  color: var(--orange);
}

.container__404 p {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
