.item__container {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.txt__container {
  width: 96%;
}
.txt {
  margin-top: 0.8rem;
  color: var(--white);

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt__gray {
  color: var(--white_placeholder);
}

.img {
  width: 100%;
  border-radius: 1.6rem;
  transition: all 0.3s ease;
  object-fit: cover;
  background-color: var(--white_placeholder);
}

.wish {
  filter: grayscale() contrast(0.7);
}

.item__container:hover img {
  transform: scale(0.96);
}

.item__container:hover .txt {
  -webkit-line-clamp: 14;
}
