.item__container {
  width: 100%;
  transition: all 0.3s ease;
}
.txt__container {
  width: 96%;
}
.txt {
  margin-top: 0.8rem;
  color: var(--white);
}

.txt__gray {
  color: var(--white_placeholder);
}

.img {
  width: 100%;
  border-radius: 1.6rem;
  transition: all 0.3s ease;
  object-fit: cover;
}

.wish {
  filter: grayscale() contrast(0.7);
}

.item__container:hover img {
  transform: scale(0.96);
}
