.btn {
  width: 100%;
  height: 6.4rem;
  border-radius: 1.2rem;
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1;
  border: none;
  background-color: var(--white);
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--orange);
  color: var(--white);
}
